html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-golos), Arial, Helvetica, sans-serif;
  background-color: #030c1c;
  color: #e8f2ff;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
